.App {
  text-align: center;
  padding: 20px;

  #assumptions {
    text-align: left;
  }
}

#deck {
  width: 500px;
  height: 500px;
  margin-top: 20px;
}

select:last-of-type {
  margin-right: 20px;
}