.App {
    text-align: center;
    padding: 20px;

    div#version,
    div#assumptions {
        text-align: left;
    }

    div#version {
        margin-bottom: 20px;
    }

    textarea#deck {
        width: 500px;
        height: 500px;
        margin: 20px 0 20px 0;
    }

    button {
        margin: 10px;
    }
}